{% extends 'blog/base_blog.html' %}

{% block title %}
    страница блога
{% endblock %}

{% block content_title %}
{% endblock %}

{% block content %}
    <h5>Теги:</h5>
    {% for tag in tags %}
        <div class="post">
            <div class="card" style="width: 8rem;">
                <div class="card-body">
                    <a class="btn btn-secondary" href="{{ tag.get_absolute_url }}" role="button">{{ tag }}</a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
